body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d8b1b1;
}

.container {
    text-align: center;
}

#task-container {
    margin-bottom: 20px;
}

#new-task {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(239, 220, 184);
}
